<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tests</title>
</head>
<body>

<div id="app">
    <div v-for="(questionWithOptions, index) in questionsWithOptions">
        <h4>{{index + 1}}. {{questionWithOptions.question.questionText}}</h4>
            <div v-for="option in questionWithOptions.options">
                <input type="radio" v-bind:id="option.optionText" v-bind:name="questionWithOptions.question.id" v-bind:value="option" v-model="questionWithOptions.pickedAnswer">
                <label v-bind:for="option.optionText">{{option.optionText}}</label>
            </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="/js/test.js"></script>
</body>
</html>